<section class="row">
    <div class="col-4">
        {{>partialNavigationVip}}
    </div>
    <div class="col-8">
        {{#if vipSelected}}
            {{#each vipSelected}}
                <form class="vips" action="/deleteVip/{{this.NUM}}" method="post">
                    <fieldset>
                        <legend>Suppression VIPs</legend>
                        <p>Êtes-vous sûr(e) de vouloir supprimer {{this.FIRSTNAME}} {{this.NAME}} ?</p>
                        <input type="submit" name="submit" id="submit" value="Valider">
                        <input type="button" value="Annuler" onclick="history.back()"  />
                    </fieldset>
                </form>
            {{/each}}
        {{else}}
            <form class="vips" action="/vipChoice" method="post">
                <fieldset>
                    <legend>Suppression VIPs</legend>
                    <label for="vip">Choisissez un vip : </label>
                    <select name ="vip" id ="vip">
                        {{#each vips}}
                            <option value="{{this.NUM}}">{{this.FNAME}} {{this.NAME}}</option>
                        {{/each}}
                    </select><br>
                    <input type="hidden" name="action" value="D">
                    <input type="submit" name="submit" id="submit">
                </fieldset>
            </form>
        {{/if}}
    </div>
</section>






