<section class="article">
    {{#each vipArticle}}
        <p>{{this.FIRSTNAME}} {{this.NAME}} ({{this.TITRE}}) <br><br>
            {{this.CONTENU}} <br>
            [Ajouté le {{formatDate this.DATEPUB 'dddd D MMMM YYYY'}}]
            <a href="/person/{{this.NAME}}">voir sa fiche</a>
        </p>
    {{else}}
        <p class="empty">Choisissez un VIP pour voir les articles le concernant.</p>
    {{/each}}
</section>
<aside>
    <img src="/images/vips.png" alt="VIPs">
    <ul>
        {{#each listOfPerson}}
            <ol>
                <a href="/articles/{{this.NAME}}">{{this.FIRSTNAME}} {{this.NAME}}</a>
            </ol>
        {{/each}}
    </ul>
</aside>
