<section class="row">
    <div class="col-4">
        {{>partialNavigationPhotos}}
    </div>
    <div class="col-8">
        {{#if choiceVip}}
            <form class="photos" action="/deletePhoto" method="post">
                <fieldset>
                    <legend>Suppression d'une photo</legend>
                    <input type="hidden" name="id" value="{{id}}">
                    {{#each choiceVip}}
                        <input type="checkbox" id="myCheckbox1" name="picture" value="{{this.PICNUM}}"/>
                        <label for="myCheckbox1"><img src="/images/vip/{{this.PIC}}"/></label>
                    {{/each}}
                    <input type="submit" name="submit" id="submit" value="Supprimer">
                </fieldset>
            </form>
        {{else}}
            <form class="photos" action="/deleteChoice" method="post">
                <fieldset>
                    <legend>Suppression d'une photo</legend>
                    <label for="vip">Choisissez un vip : </label>
                    <select name ="vip" id ="vip">
                        {{#each vips}}
                            <option value="{{this.NUM}}">{{this.FNAME}} {{this.NAME}}</option>
                        {{/each}}
                    </select><br>
                    <input type="submit" name="submit" id="submit">
                </fieldset>
            </form>
        {{/if}}
    </div>
</section>

