<section class="article">
    {{#each vipArticle}}
        <p><u>{{this.FIRSTNAME}} {{this.NAME}} ({{this.TITRE}})</u><br><br>
            {{#each ../vipPhoto}}
                <img src="/images/vip/{{this.PHOTO}}">
            {{/each}}
            {{this.CONTENU}} <br>

            <div class="detail_article">[Ajouté le {{formatDate this.DATEPUB 'dddd D MMMM YYYY'}}]
            <a href="/person/{{this.NUM}}">voir sa fiche</a></div>
        </p>
    {{else}}
        <p class="empty">Choisissez un VIP avec au moins un article pour voir les articles le concernant.</p>
    {{/each}}
</section>
<aside>
    <img src="/images/vips.png" alt="VIPs">
    <ul>
        {{#each listOfPerson}}
            <ol>
                <a href="/articles/{{this.NUM}}">{{this.FIRSTNAME}} {{this.NAME}}</a>
            </ol>
        {{/each}}
    </ul>
</aside>
