<div class="row">
    <div class="col-8">
        {{#each albumInfo}}
            <div class="row">
                <p>{{this.FIRSTNAME}} {{this.NAME}}</p>
                {{#ifCond this.PICNUM '==' 1}}<div class="col-4 invisible">{{else}}<div class="col-4">{{/ifCond}}<a href="/photoDetail/{{this.NUM}}/{{dec this.PICNUM}}"><span><<</span></a></div>
                <div class="col-4">
                    <img src="/images/vip/{{this.PIC}}">
                </div>
                {{#ifCond this.PICNUM '==' ../max.MAX}}<div class="col-4 invisible">{{else}}<div class="col-4">{{/ifCond}}<a href="/photoDetail/{{this.NUM}}/{{inc this.PICNUM}}"><span>>></span></a></div>
            </div>
            <div class="row">
                <h4>Commentaire</h4>
                <p>{{this.COM}}</p>
            </div>
        {{/each}}
    </div>
    <aside class="album-aside col-4">
        {{>partialAlbumNavigation}}
    </aside>
</div>
